// Colors:
$primary-color: #11A8A8;
$secondary-color: #523277;
$red: #ED1C24;
$yellow: #FDB913;
$green: #78A50E;
$grey: #F2F3F3;
$disabled-grey: #B7b1A9;
$main-grey: #3E3934;

// Spacing:
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 1.8rem;
$desktop-breakpoint: 45rem;
